<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <style type="text/css" media="screen">
        body{
            background-color: #191f2f;
        }
        h1{
            text-align: center;
            color: #FFFFFF;
        }
        h5{
            color: #BDA213
        }
        .card-header{
            background-color: #ddbfb7;
            color: #1B1A19;
            border-bottom: #eddbd9 7px solid;
            border-radius: 0;
        }
        .card{
            border-radius: 0;
        }
        .card-header:first-child {
            border-radius: 0;
        }

        .card-body{
            background-color: #71768a;
        }
    </style>
    <title>About</title>


</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col"><h1>Acerca de</h1></div>
            <div class="w-100"></div>
            <div class="col">
                <h5>Erick Pinales</h5>
                <div class="card">
                    <h5 class="card-header text-center">AKA' PyroPe</h5>
                    <div class="card-body">
                        <p>Me llamo Erick, a mi me gusta el cine, la fotografía, la música y en general el arte.</p>
                        <p>Soy un apacionado del Hip-Hop y del Sneaker culture, 
                        en mi tiempo libre me gusta rapear y producir, me muevo con el sobrenombre Erick Pe AKA' Pyro Storm AKA Pyro Pe</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <h5>Cesar Mota</h5>
                <div class="card">
                    <h5 class="card-header text-center">AKA' Spartan0367</h5>
                    <div class="card-body">
                        <p>Me llamo Cesar, me gusta jugar video juegos mi gt es spartan 0637 y en pc spartan0637. Mis planes a futuro es ser un buen ingeniero y viajar por todo el mundo</p>
                    </div>
                </div>
            </div>

            <div class="col">
                <h5>Manuel Durán</h5>
                <div class="card">
                    <h5 class="card-header text-center">AKA' Kiriha</h5>
                    <div class="card-body">
                        <p>Me llamo Manuel, me gustan los videojuegos, mi GT: kirihaDC y en mis redes sociales me encuentran Kiriha DC en Facebook, YouTube, Twitter, Twitch, Mixer. Mis planes a futuro es trabajar en una empresa reconocida y conocer otros lugares.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <h5>Ricardo Flores</h5>
                <div class="card">
                    <h5 class="card-header text-center">AKA' Farol</h5>
                    <div class="card-body">
                        <p>Me llamo Ricardo, a me gusta jugar video juegos. Mis planes a futuro es ser un buen ingeniero y viajar por todo el mundo</p>
                        <p>Mi principal fuente de inspiración es Elon Musk y mi objetivo es crar una empresa exitosa y mudarme a U.S.A</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
