<!-- Footer -->
<footer class="page-footer font-small mdb-color lighten-3 pt-4">
	<div class="p-3 mb-2 bg-primary text-white">
		<div class="container text-center">
			<a type="button" target="_blank"><img src="images/logo.png">
        	</a>
	</div>
  	<!-- Footer Links -->
  	<div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <div class="col-md-1 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1">
      	
        <!-- Tienda -->
        <h5 class="font-weight-bold text-uppercase mb-4">Tienda</h5>
        <p><a type="button" class="btn btn-primary btn-sm">Acerca de</a></p>
        <p><a type="button" class="btn btn-primary btn-sm">Vende tus videojuegos</a></p>
        <p><a type="button" class="btn btn-primary btn-sm">Centro de Reparacion</a></p>
        <p><a type="button" class="btn btn-primary btn-sm">Ofertas y Cupones</a></p>
        <p><a type="button" class="btn btn-primary btn-sm">Blog</a></p>

      </div>

      <div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1">
        <!-- Compañia -->
        <h5 class="font-weight-bold text-uppercase mb-4">Compañia</h5>

        <p><a type="button" class="btn btn-primary btn-sm">Envios y Devoluciones</a></p>
        <p><a type="button" class="btn btn-primary btn-sm">Contactanos</a></p>
        <p><a type="button" class="btn btn-primary btn-sm">Compra Segura</a></p>
        <p><a type="button" class="btn btn-primary btn-sm">Seguridad</a></p>

      </div>

      <div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1">

        <!-- Cuenta -->
        <h5 class="font-weight-bold text-uppercase mb-4">Cuenta</h5>

        <p><a type="button" class="btn btn-primary btn-sm">Rastrear Mi Pedido</a></p>
        <p><a type="button" class="btn btn-primary btn-sm">Mi Cuenta</a></p>
        <p><a type="button" class="btn btn-primary btn-sm">Carrito de Compras</a></p>
        <p><a type="button" class="btn btn-primary btn-sm">FAQs</a></p>

      </div>

      <div class="col-md-4 col-lg-1 mx-auto my-4">

        <!-- Social -->
        <h5 class="font-weight-bold text-uppercase mb-4">Social</h5>

        <!-- Facebook -->
        <p><a type="button" class="btn btn-primary btn-sm"><img src="images/facebook.png">
        </a></p>

        <!-- Pinterest -->
        <p><a type="button" class="btn btn-primary btn-sm"><img src="images/pinterest.png">
        </a></p>

        <!-- Google -->
        <p><a type="button" class="btn btn-primary btn-sm"><img src="images/google.png">
        <p></a></p>


      </div>
      <!-- Grid column -->
      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-4 col-lg-2 mx-auto my-5">

        <!-- Social -->
        <h5 class="font-weight-bold text-uppercase mb-4"></h5>

        <!-- Twitter -->
        <p><a type="button" class="btn btn-primary btn-sm"><img src="images/twitter.png">
        </a></p>

        <!-- Youtube -->
        <p><a type="button" class="btn btn-primary btn-sm"><img src="images/youtube.png">
        </a></p>

      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->
  </div>
</footer>
<!-- Footer -->