<!-- Primer cuadro de información -->
<div class="container">
	<div class="row">
		<div class="col-12 col-md-6 col-sm-4">
			<div id="info1" class="info-inicial">

				<p>
					<img src="images/shippingicon.gif">
					ENVIOS GRATIS con ordenes mayores de $600
				</p>
				<p>
					*120 DÍAS DE GARANTÍA que nadie puede superar!
				</p>
			</div>
		</div>
	</div>
</div>
<!-- Barra de navegacion 1-->
<div class="container">
	<div class="row">
		<div class="col-12 col-md-6 col-sm-4">
			<nav class="navbar navbar-expand-sm navbar-dark nav-videojuegos">
				<div class="collapse navbar-collapse menu-navegacion1" id="navbar">
					<ul class="navbar-nav">
							<li class="nav-item active">
								<a class="nav-link" href="#">Contactanos</a>
							</li>
							<li class="nav-item active">
								<a class="nav-link" href="/about">Acerca de</a>
							</li>
					</ul>
					<ul class="navbar-nav">
						<img src="images/logo.png">
					</ul>
					<ul class="navbar-nav">
							<li class="nav-item active">
								<a class="nav-link" href="#">Vende tus videojuegos</a>
							</li>
							<li class="nav-item active">
								<a class="nav-link" href="#">Cuenta</a>
							</li>
							<li class="nav-item active">
								<a class="nav-link" href="#">Login</a>
							</li>
							<li class="nav-item active">
								<a class="nav-link" href="#">Carrito</a>
							</li>
					</ul>

				</div>
			</nav>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-12 col-md-6 col-sm-4">
			<nav class="navbar navbar-expand-sm navbar-dark nav-menu">
				<div class="collapse navbar-collapse menu-navegacion2" id="navbar2">
					<ul class="navbar-nav lista-consolas">
							<li class="nav-item active">
								<a class="nav-link consolas" href="#">Nintendo</a>
							</li>
							<li class="nav-item active">
								<a class="nav-link consolas" href="#">Sega</a>
							</li>
							<li class="nav-item active">
								<a class="nav-link consolas" href="#">PlayStation</a>
							</li>
							<li class="nav-item active">
								<a class="nav-link consolas" href="#">Xbox</a>
							</li>
							<li class="nav-item active">
								<a class="nav-link consolas" href="#">Ofertas Retro</a>
							</li>
							<li class="nav-item active" id="barrabusqueda">
								<input type="text" name="texto" placeholder="buscar en tienda">
								<img src="images/search.jpg">
							</li>
					</ul>

				</div>
			</nav>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-12 col-md-6 col-sm-4">
			<div class="elementos-descripcion">
				<div class="imagen-retro">
					<img src="images/nintendo-banner.jpg" style="width: 320px; height: 220px;">	
				</div>
				<div class="descripcion">
					<h1 class="text-pixel">TIENDA DE JUEGOS RETRO</h1>
					<p id="texto-retro">
						Compra videojuegos usados, consolas originales
						y accesorios de la vieja escuela en la tienda en linea de videojuegos retro más grande de su clase. Compra todos nuestros productos vintaje 100% autenticos, con una garantía gratuita de 120 días y envío nacional gratuito.
					</p>	
				</div>
			</div>	
		</div>	
	</div>
</div>
