<!DOCTYPE html>
<html>
<head>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <style type="text/css">
    	#info1 p{
    		display:inline;
    		color: #FFFFFF;
    		font-weight: bold;
    	}
    	.info-inicial{
    		background-color: #3333ff;
    		display: flex;
      		justify-content: space-around;
    	}
    	li.nav-item{
    		display:inline;
    	}
    	a.nav-link{
    		text-decoration:none;
    		color: #FFFFFF;
    		font-weight: bold;
    		margin: 20px;
    	}	
    	.nav-videojuegos{
    		background-color: #192ab7;
    	}
		.menu-navegacion1{
			display: flex;
      		justify-content: space-around;
		}
    	.nav-menu{
    		background-color: #161a75;
    	}
		.menu-navegacion2{
			display: flex;
      		justify-content: space-around;
		}
		ul.navbar-nav{
			display:inline;
		}
		#titulo-retro, #texto-retro{
			color: blue;
		}
		.descripcion{
			background-color: #FFFFFF;
		}
		.elementos-descripcion{
			display: flex;
			justify-content: space-between;
		}
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
header {
    background:#2c3e50;
    color:#fff;
}

.main {
    background:#0000FF;
}

.color1 {
    background: #FFF;
    color:#0000FF;
    border:#000000  2px solid;
    margin: 10px;

}
.color2 {
    text-align: center;
    background:#0000FF;
    color:#fff;
    font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.color3 {
    text-align: center;
    background:yellow;
    color:#0000FF;
    font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
    margin: 10px;
}
.color4 {
    text-align: center;
    background:#0000FF;
    color:yellow;
    font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;

}
aside {
    background:#c0392b;
    color:#fff;
}

footer {
    background:#16a085;
    color:#fff;
}
     </style>
	<title>PAGINA VIDEOJUEGOS</title>


</head>
<body>
	<%- include('header') -%> 
    <div class="color2 container">
    <titulo>Ofertas Retro</titulo>
</div>
    <div class="container">
        
        <div class="main row">

        
        <div class="container row">
            <div class= "col-md-1">
        </div>
            <div class="btn color1 col-xs-12 col-sm-5 col-md-5 col-lg-2">
                <img src="/images/NES_Mario_2Player.jpg"width="100%">
                    <p>500 pesos</p>
        
            </div>
        <div class="color1 btn col-xs-12 col-sm-5 col-md-5 col-lg-2">
                <img src="\images/N64_goldeneye.jpg"  width="100%">
                <p>1000 pesos</p>
        </div>
            <div class="btn color1 col-xs-12 col-sm-5 col-md-5 col-lg-2">
                <img src="\images/Wii-system.jpg" width="100%">
                <p>3000 pesos</p>
            </div>

            <div class="color1 btn col-xs-12 col-sm-5 col-md-5 col-lg-2">
                <img src="\images/NES_ContraTysonZelda.jpg" width="100%">

                <p>1000 pesos</p>
            </div>

        </div>
            <div class="btn color3 container-fluid  col-xs-12 col-sm-12 col-md-2">
                <p>"Mas ofertas>"</p>
            </div>
    </div>
    <div class="main row col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class=nav-item></div>
                <input type="text" name="" placeholder="buscar ofertas">
            </div>
        <div class="main row color4 col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <p>Obtener ofertas de las mejores </p>
            </div>
    </div>

	<%- include('footer') -%>
	<script src="/js/jquery.slim.min.js"></script>
	<script src="/js/umd/popper.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>